@media only screen and (max-width: 420px) {
    .logo {
        margin: 0 auto;
        text-align: center;
    }
    .logo img {
        width: 50%!important;
        height: auto;
        text-align: center;
        margin: 0 auto;
    }
    .header_colour h3 {
        font-size: 21px;
    }
}

@media only screen and (max-width: 576px) {
    .logo {
        margin: 0 auto;
        text-align: center;
    }
    .logo img {
        float: initial;
        width: 35%;
        height: auto;
        text-align: center;
        margin: 0 auto;
    }
    .header_colour h3 {
        margin-top: 10px;
        margin-bottom: 10px;
        word-spacing: 1px;
        line-height: 34px;
    }
    .navbar-nav {
        margin: 7.5px 0px;
    }
}
@media only screen and (max-width: 768px) {
    .quick_dashboard_left_menu {
        min-height: 0;
        margin-bottom: 10px;
    }
    .quick_menu_title {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .search_button, .search_button a{
        text-align: center;
    }
    #date {
        margin-top: 0;
    }
    .search_button input, .search_button a{
        margin-top: 7px;
        margin-bottom: 5px;
    }
    .quick_dashboard_mobile{
        padding-left: 0;
    }
    .quick_dashboard_mobile_right{
        padding-right: 0;
    }
    .navbar-nav {
        margin: 7.5px 0;
    }
    .header_colour h3{
        text-align:center;
        padding-bottom:2px;
    }
    .logo img{
        float: left!important;
    }
    .main_header .logo img {
        float: initial !important;
        width: 23%;
        height: auto;
    }
}

@media only screen and (max-width: 986px) {
    .search_button input, .search_button a{
        margin-top: 7px;
        margin-bottom: 5px;
    }
    #date {
        margin-top: 0;
    }
    .search_button, .search_button a{
        text-align: center;
    }
}

@media only screen and (max-width: 1176px) {
    .logo {
        margin: 0 auto;
        text-align: center;
    }
    .logo img {
        float: initial;
        width: 35%;
        height: auto;
        text-align: center;
        margin: 0 auto;
    }
    .header_colour h3 {
        margin-top: 1px;
        margin-bottom: 4px;
        word-spacing: 1px;
        line-height: 34px;
    }
    .logined_controls a {
        width: 100%;
        text-align: right;
        text-transform: capitalize;
        float: right;
        line-height: 28px;
    }
}